@import "vars";

html{
  box-sizing: border-box;
}

h1,h2,h3, p{
  margin: 0;
}

body{
  min-width: 375px;
  overflow: hidden;
  margin: 0;
  background-color: rgba(242, 247, 255, 0.5);
  font-size: 16px;
  color: #1D2530
}

.header-container{
  height: 99px;
  margin: 0 auto;
}

.header{
  &-inner{
    padding: 32px 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px){
  .header{
    &-inner{
      padding: 32px 40px 0;
    }
  }
}

@media (min-width: 1440px){
  .header{
    &-inner{
      padding: 32px 165px 0;
    }
  }
}

.logo{
  width: 95px;
  height: 35px;
  &-img{
    object-fit: fill;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px){
  .logo{
    width: 133px;
    height: 42px;
  }
}

.menu{
  &-btn{
    width: 30px;
    height: 18px;
    position: relative;
    background: none;
    border: none;
    &:after{
      content: "";
      width: 30px;
      height: 2px;
      border-radius: 2px;
      background-color: $main;
      position: absolute;
      box-shadow: 0 8px 0 0 #33AFE1, 0 16px 0 0 #18E1F7;
      right: 0;
      bottom: 27px;
    }
  }
  &-bar{
    display: none;
  }
}

@media (min-width: 768px){
  .menu{
    &-btn{
      display: none;
    }
    &-bar{
      display: flex;
      .list_01{
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $main;
      }
      .list{
        text-decoration: none;
        margin: 0 12px;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: #1D2530;
      }
    }
  }
}

@media (min-width: 1440px){
  .menu{
    &-btn{
      display: none;
    }
    &-bar{
      .list{
        margin: 0 30px;
      }
    }
  }
}

.hero{
  height: 625px;
  margin: 0 auto;
  &-container{
    padding: 0 23px;
    }
  &-img{
  }
  &-ilustration{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.desc{
  &-title{
    margin: 3px 0 32px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    &-word{
      color: $main;
    }
  }
  &-description{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
  &-btn{
    background-color: $main;
    border: none;
    color: #FFFFFF;
    padding: 12px 32px;
    margin: 32px 0 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }
}
