@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 787px;
    margin-bottom: 335px;
    position: relative;
}

.hero-bg {
    z-index: -1;
    width: 599px;
    height: 100%;
    background: #0B7572;
    position: absolute;
    top: 0;
    right: 0;
}

.hero-container {
    width: 100%;
    padding-top: 110px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero__title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 125%;
    color: #363738;
}

.hero__description {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
    margin: 40px 0;
    padding-right: 80px;
}

.hero__link {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #363738;
    cursor: pointer;
    text-decoration: none;
}

.hero__link:after {
    content: '';
    position: absolute;
    background: #FFCE50;
    height: 3px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    transition: all, 0.25s;
}

.hero__link:hover:after {
    width: 100%;
}

.hero-info {
    bottom: -235px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px 125px 56px 80px;
}

.hero-info__title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #363738;
    margin: 24px 0 16px;
}

.hero-info__description {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
}

.hero-info__item {
    width: 228px;
}

.hero-info__item:nth-child(2) {
    margin: 0 184px 0 167px !important;
}

.hero-info:after, .hero-info:before {
    content: '';
    position: absolute;
    top: 40px;
    height: 261px;
    width: 1px;
    background: #D7D7DD;
    left: 413px;
}

.hero-info:after {
    left: 826px;
}






.activity {
    width: 100%;
}

.activity-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.activity__title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    color: #363738;
}

.activity__description {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
    max-width: 667px;
    margin: 32px 0 40px;
}

.activity-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.activity-option {
    position: relative;
    padding: 40px 125px 48px 40px;
    background: #FFFFFF;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.activity-option:hover {
    border: 1px solid #0B7572;
}

.activity-option__button {
    position: relative;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #CBCBCD;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
}

.activity-option__button span {
    background: #0B7572;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: none;
}

.activity-option__button-active span {
    display: block;
}

.activity-option__text {
    padding-left: 32px;
    max-width: 466px;
}

.activity-option__title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #363738;
    margin-bottom: 15px;
}

.activity-option__description {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6C;
}

.activity-option svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.activity-counter {
    width: 413px;
}

.activity-counter__title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #363738;
    margin-bottom: 8px;
}

.activity-counter__count {
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 150%;
    letter-spacing: normal;
    color: #363738;
}
.activity-counter__count span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
}

.activity-counter__count:after {
    content: '';
    position: absolute;
    background: #FFCE50;
    height: 3px;
    width: 281px;
    left: 0;
    bottom: -30px;
    transition: all, 0.25s;
}

.activity-option-active {
    border: 1px solid #0B7572;
}

